.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.spotfy {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.btn_home {
    color: #878787;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 200px;
}

.btn_home svg {
    width: 32px;
    height: 32px;
}

.procurar {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.procurar svg {
    background-color: #323232;
    height: 30px;
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #878787;
}

.input {
    width: 300px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #323232;
    height: 30px;
    padding: 10px;
}


.conteiner_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.btn_inscrever {
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878787;
    font-weight: bold;
    text-decoration: none;
}

.btn_entrar {
    background-color: #fff;
    width: 100px;
    height: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.img_perfil_top {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
}

.config {
    width: 200px;
    position: absolute;
    background-color: #323232;
    right: 0;
    bottom: -110px;
    z-index: 1;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.config .class {
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #fff;

}

.config p:hover {
    background-color: #878787;
    border-radius: 10px;

}