.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.spotfy {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.btn_home {
    color: #878787;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 200px;
}

.btn_home svg {
    width: 32px;
    height: 32px;
}

.procurar {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.procurar svg {
    background-color: #323232;
    height: 30px;
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #878787;
}

.input {
    width: 300px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #323232;
    height: 30px;
    padding: 10px;
}


.conteiner_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn_inscrever {
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878787;
    font-weight: bold;
    text-decoration: none;
}

.btn_entrar {
    background-color: #fff;
    width: 100px;
    height: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin-right: 15px;
}