.tela_principal_mostrar_tudo {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: 100vw;
}


.img_artista {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.albuns_img_mostrar{
    width: 200px;
    height: 200px;
}

.conteiner_enter_mostra_tudo {
    color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    padding: 10px;
    justify-content: center;
    gap: 10px;
}

.conteiner_mostrar_tudo {
    width: 100%;
    background-color: #121212;
    border-radius: 10px;
    overflow-y: scroll;
    padding-left: 20px;
}

.conteiner_deitado_mostrar {
    display: flex;
    flex-wrap: wrap;
}

.conteiner_enter_mostra_tudo {
    width: 200px;
    color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.conteiner_enter_mostra_tudo :nth-child(2) {
    font-size: 18px;
}

.conteiner_enter_mostra_tudo :nth-child(3) {
    font-size: 16px;
    color: #878787
}

.conteiner_enter_mostra_tudo:hover {
    background-color: #565656;
    border-radius: 10px;
}

.conteiner_enter_mostra_tudo:hover .div_play::before {
    content: "";
    background-image: url('data:image/svg+xml;utf8,<svg data-encore-id="icon" role="img" aria-hidden="true" width= "26px" height="26px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg>');
    background-color: #4dd34d;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 5px;
    right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    animation: aparecer 0.2s linear;
}

@keyframes aparecer {
    0% {
        bottom: -10px;
        filter: opacity(0);
    }

    100% {
        bottom: 5px;
        filter: opacity(1);
    }
}